/* Body background and font */
body {
  background: #ffd384;
  font-family: 'Kanit', sans-serif;
}

/* Main heading */
.heading {
  color: #0ffab73;
}

/* Countdown timer */
.timer {
  color: #000000;
  text-align: center;
  width: 20rem;
  height: 20rem;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
}

/* remove the padding on the play button */
.btn {
  padding: 0;
}

/* play and reset icons */
.fa-clock,
.fa-redo-alt {
  color: #000000;
  border: 2px solid transparent;
  padding: 1rem;
  border-radius: 2rem;
}

.fa-clock:hover,
.fa-redo-alt:hover {
  color: #000;
  border: 2px solid #bae8e8;
  transition: 0.3s ease;
}

/* Dynamic class */
/* Make the message visible */
.show_message {
  display: block;
  padding: 1rem 0;
  color: #272343;
  background: #e3f6f5;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}
